# ignore IDE specific folder
.vscode/

# ignore virtual environemnt
venv/
__pycache__/
bursts/

# ignore any downloaded files
*.txt
*.fit
*.fit.gz
!requirements.txt

# ignore images
*.png
*.jpg

# ignore any output files
*.csv
*.log
_version.py

# ignore any db files
*.db

# ignore secrets file
.env

# File from macos 
.DS_Store

# ignore helper files and files for devel only
*.ipynb
find_last_date_processed.py
temp/**
notebooks/**