# ignore IDE specigiv folder
.vscode/

# ignore virtual environemnt
venv/
__pycache__/
bursts/

# ignore any downloaded files
*.txt
*.fit
*.fit.gz

# ignore any output files
*.png
*.log

# ignore jupyter notebooks. Those are for devel only
*.ipynb


# File from macos 
.DS_Store

