aioftp==0.21.3
aiohttp==3.8.1
aiosignal==1.2.0
astropy==5.1
async-timeout==4.0.2
attrs==22.1.0
beautifulsoup4==4.11.1
cached-property==1.5.2
cdflib==0.4.7
certifi==2022.6.15
charset-normalizer==2.1.1
click==8.1.3
cycler==0.11.0
drms==0.6.2
fonttools==4.37.1
frozenlist==1.3.1
idna==3.3
imageio==2.21.2
iniconfig==1.1.1
isodate==0.6.1
kiwisolver==1.4.4
lxml==4.9.1
matplotlib==3.5.3
multidict==6.0.2
networkx==2.8.6
numpy==1.23.2
packaging==21.3
pandas==1.4.4
parfive==2.0.1
Pillow==9.2.0
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pyerfa==2.0.0.1
pyparsing==3.0.9
pytest==7.1.3
python-dateutil==2.8.2
pytz==2022.2.1
PyWavelets==1.3.0
PyYAML==6.0
radiospectra @ git+https://github.com/anawas/radiospectra.git@fe514c89e4170be2b183a1031a2975ef0d6417de
requests==2.28.1
requests-file==1.5.1
requests-toolbelt==0.9.1
ruptures==1.1.7
scikit-image==0.19.3
scipy==1.9.1
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sunpy==4.0.4
tifffile==2022.8.12
tomli==2.0.1
tqdm==4.64.1
typer==0.6.1
urllib3==1.26.12
yarl==1.8.1
zeep==4.1.0
